*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    background: #333;
    padding: 10px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content ul {
    list-style: none;
    display: flex;

}
.header-content ul li {
    margin: 0 7px;
    letter-spacing: 1.1px;
}
.header-content ul li a {
    font-size: 20px;
    color: #fff;

}
.header-content ul li:first-child a{
    font-size: 22px;
    text-decoration: none;
    background: -webkit-linear-gradient(left, red, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin:  0 7px;
}
.header-content ul li:nth-child(2) a {
    font-size: 22px;
    text-decoration: none;
    background: -webkit-linear-gradient(right, red, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin:  0 7px;
}
.header-content .logo a {
    text-decoration: none;
    font-size: 45px;
    color: #fff;
}
.header-content ul#user_info {
    display: none;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ddd;
    padding: 15px;
    width: 40%;
}
section h2 {
    font-size: 40px;
}
section form input {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}
section form input[type="submit"]{
    background: #fff;
    font-size: 16px;
}
section form input[type="submit"]:hover{
    opacity: .8;
}














